
h2 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 36px;
	text-align: center;
	vertical-align: baseline;
	background: transparent;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 10px;
	width: 100%;
}

img {
	height: 50%;
	width: 50%;
}